body
{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
nav,body

{
    background-color: #FAF1ED;
}
.btn
{
    background-color: orange;
}
.spinning-img
{
    animation: spin 55s linear infinite;
}
@keyframes spin 
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    
}
.h-100
{
    height: 500pxpx;
}
.text-gray a
{
    color:gray;
    font-weight: 400 ;
}
.footer a
{
    font-size: 15px;
}
.rounded
{
    border-radius: 10px !important ;
}
.ph3
{
    height: 17rem;
}